@using Vehicle_Appraisal_WebApi.ViewModels
@model ConditionVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vehicle_Appraisal_WebMVC</title>
    <!-- Font Awesome -->
    <link href="~/ThemeLTE/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/ThemeLTE/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body>
    <div class="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>INSERT CONDITION</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
                            <li class="breadcrumb-item"><a href="/vehicle/GetAll">Vehicle</a></li>
                            <li class="breadcrumb-item active">@Model.VehicleId</li>
                            <li class="breadcrumb-item active"><a href="/vehicle/GetAllConditionById/@Model.VehicleId">Condition</a></li>
                            <li class="breadcrumb-item active">Insert</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <form asp-action="InsertAction" asp-controller="condition" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="card card-primary">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="inputType">Type</label>
                                    <input type="hidden" asp-for="VehicleId" value="@Model.VehicleId" />
                                    <input type="text" asp-for="Type" id="inputType" class="form-control" required>
                                    <label for="inputImage">Image</label>
                                    <input type="file" asp-for="file" id="inputImage" class="form-control">
                                    <label for="inputNote">Note</label>
                                    <input type="text" asp-for="Note" id="inputNote" class="form-control">
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="/vehicle/GetAllConditionById/@Model.VehicleId" class="btn btn-secondary">Cancel</a>
                        <input type="submit" value="Create Condition" class="btn btn-success">
                    </div>
                </div>
            </form>

        </section>
        <!-- /.content -->
    </div>
    <!-- jQuery -->
    <script src="~/ThemeLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/ThemeLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/ThemeLTE/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/ThemeLTE/dist/js/demo.js"></script>
</body>
</html>

