@using Vehicle_Appraisal_WebApi.ViewModels
@model CustomerVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vehicle_Appraisal_WebMVC</title>
    <!-- Font Awesome -->
    <link href="~/ThemeLTE/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/ThemeLTE/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body>
    <div class="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>EDIT CUSTOMER</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
                            <li class="breadcrumb-item"><a href="/customer/GetAll">Customer</a></li>
                            <li class="breadcrumb-item active">Edit</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <form asp-action="UpdateAction" asp-controller="Customer" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="card card-primary">
                            <div class="card-body">
                                <div class="form-group">
                                    <input type="hidden" asp-for="Id" class="form-control">
                                    <input type="hidden" asp-for="CreateAt" />
                                    <label for="inputFirstName">First Name</label>
                                    <input type="text" asp-for="FirstName" id="inputFirstName" class="form-control">
                                    <label for="inputLastName">LastName</label>
                                    <input type="text" asp-for="LastName" id="inputLastName" class="form-control">
                                    <label for="inputPhone">Phone</label>
                                    <input type="number" asp-for="Phone" id="inputPhone" class="form-control">
                                    <label for="inputEmail">Email</label>
                                    <input type="text" asp-for="Email" id="inputEmail" class="form-control">
                                    <label for="inputAddress1">Address1</label>
                                    <input type="text" asp-for="Address1" id="inputAddress1" class="form-control">
                                    <label for="inputAddress2">Address2</label>
                                    <input type="text" asp-for="Address2" id="inputAddress2" class="form-control">
                                    <label for="inputCity">City</label>
                                    <input type="text" asp-for="City" id="inputCity" class="form-control">
                                    <label for="inputCountry">Country</label>
                                    <input type="text" asp-for="Country" id="inputCountry" class="form-control">
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="/customer/GetAll" class="btn btn-secondary">Cancel</a>
                        <input type="submit" value="Change Customer" class="btn btn-success">
                    </div>
                </div>
            </form>

        </section>
        <!-- /.content -->
    </div>
    <!-- jQuery -->
    <script src="~/ThemeLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/ThemeLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/ThemeLTE/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/ThemeLTE/dist/js/demo.js"></script>
</body>
</html>

