@*@using eShopSolution.ViewModels.Common
    @model PagedResult<eShopSolution.ViewModels.System.Users.UserViewModel>*@

@{
    ViewData["Title"] = "Danh sách người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/Controller/UserController.js"></script>
}
<div class="container-fluid">
    <h1 class="mt-4">Danh sách người dùng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/home/index">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách người dùng</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" data-toggle="modal" data-target="#modalAddUser" @*href="/user/create"*@>Tạo mới</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tên</th>
                            <th>Họ</th>
                            <th>Số điện thoại</th>
                            <th>Tài khoản</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody id="tblData"></tbody>
                </table>
            </div>
            <div id="pagination" class="pagination"></div>
        </div>
        <script id="data-template" type="x-tmpl-mustache">
        <tr>
            <td>{{ FirstName }}</td>
            <td>{{ LastName }}</td>
            <td>{{ PhoneNumber }}</td>
            <td>{{ UserName }}</td>
            <td>{{ Email }}</td>
        </tr>
        </script>
    </div>
</div>

<!-- Modal Add User -->
<div class="modal fade" id="modalAddUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm người dùng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmAddUser">
                    <div class="row">
                        <div class="form-group col">
                            <label class="control-label">Tên</label>
                            <input id="txtFirstName" name="txtFirstName" class="form-control" />
                        </div>
                        <div class="form-group col">
                            <label class="control-label">Họ</label>
                            <input id="txtLastName" name="txtLastName" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ngày sinh</label>
                        <input type="date" id="txtDob" name="txtDob" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input id="txtEmail" name="txtEmail" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Số điện thoại</label>
                        <input id="txtPhoneNumber" name="txtPhoneNumber" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tài khoản</label>
                        <input id="txtUserName" name="txtUserName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mật khẩu</label>
                        <input type="password" id="txtPassword" name="txtPassword" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Xác nhận mật khẩu</label>
                        <input type="password" id="txtConfirmPassword" name="txtConfirmPassword" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCloseAdd" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" id="btnSaveAdd" class="btn btn-primary">Lưu lại</button>
            </div>
        </div>
    </div>
</div>