@*@using eShopSolution.ViewModels.Common
    @model PagedResult<eShopSolution.ViewModels.System.Users.UserViewModel>*@

@{
    ViewData["Title"] = "Danh sách người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/plugins/Mustache/mustache.min.js"></script>
    <link href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css" rel="stylesheet" />
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/Controller/UserController.js"></script>
}
<div class="container-fluid">
    <h1 class="mt-4">Danh sách người dùng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/home/index">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách người dùng</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" data-toggle="modal" data-target="#modalAddUser" @*href="/user/create"*@>Tạo mới</a>
            <form class="d-none d-md-inline-block form-inline" onsubmit="return false" style="margin-left:700px">
                <div class="input-group">
                    <input class="form-control" id="txtSearch" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" id="btnSearch" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tên</th>
                            <th>Họ</th>
                            <th>Ngày sinh</th>
                            <th>Số điện thoại</th>
                            <th>Tài khoản</th>
                            <th>Email</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody id="tblData"></tbody>
                </table>
            </div>
            <div id="pagination" class="pagination"></div>
        </div>
    </div>
</div>

@{Html.RenderPartial("_AddUserModal");}

@{Html.RenderPartial("_UpdateUserModal");}

@{Html.RenderPartial("_MustacheTemplate");}