@using Vehicle_Appraisal_WebApi.ViewModels
@model List<VehicleCrawlDataVM>
@{
    Layout = Layout;
}
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row row-small align-center list-bg" id="row-706255199">
                                @if (Model != null)
                                {
                                    foreach (var item in Model.Where(x=>x.Name.Split(' ').ElementAt(0).Equals("BMW")))
                                    {
                                        <div id="col-83102025" class="col item-bg medium-3 small-12 large-3">
                                            <div class="col-inner">
                                                <article class="archive-product">
                                                    <h3 class="name"><a href="#">@Html.DisplayFor(Model => item.Name)</a></h3>
                                                    <div class="info">
                                                        <p><a class="image" href="#"><img class="img-bangiga lazy-load-active" style="width: 40rem" src="@Html.DisplayFor(Model => item.Image)" alt="@Html.DisplayFor(Model => item.Name)"></a></p>
                                                        <dl class="versions">
                                                            <dt>Giá bán</dt>
                                                            <dd>
                                                                @Html.DisplayFor(Model => item.Value)
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                </article>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<!-- jQuery -->
<script src="~/ThemeLTE/plugins/jquery/jquery.min.js"></script>